#a{
    width: 800px;
    height: 200px;
    background-color:cornflowerblue;
}
#b{
    width: 800px;
    height: 200px;
    background-color:aquamarine;
}
#c{
    width: 800px;
    height: 200px;
    background-color: pink;
}